<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unmatched.common.messageTransform.mapper.MessageNodeMapper">
    <resultMap id="BaseResultMap" type="com.unmatched.common.messageTransform.entity.XMLMessageNodeInfo">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="NODE_NAME" jdbcType="VARCHAR" property="name"/>
        <result column="NODE_VALUE" jdbcType="VARCHAR" property="value"/>
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId"/>
        <result column="VALUE_FROM" jdbcType="VARCHAR" property="valueFrom"/>
        <result column="IF_NEED_LOOP" jdbcType="VARCHAR" property="ifNeedLoop"/>
        <result column="LOOP_CONDITIONS" jdbcType="VARCHAR" property="conditions"/>
    </resultMap>

    <select id="findXMLNodeByUseFor" resultMap="BaseResultMap" parameterType="string">
        SELECT * FROM TTRD_AIDSYS_MESSAGE_TRANSFORM TAMT
        WHERE TAMT.BE_USED_FOR=#{useFor}
    </select>

</mapper>